Repository context-hub/generator, pull requests merged in 2025-04, with the labels that each got.

#118 JSON Schema Support for IDE Autocompletion
  src/Application/JsonSchema.php
  src/Config/Registry/ConfigRegistry.php
  src/Console/InitCommand.php
  src/Console/SchemaCommand.php
  src/Document/DocumentRegistry.php
Labels: enhancement, console:cli

#120 Support `ctx --version` command
  app.php
  composer.json
  src/Application/Bootloader/ConsoleBootloader.php
Labels: type:enhancement, console:cli

#116 Prompt Configuration Support
  json-schema.json
  src/Application/Bootloader/ConfigLoaderBootloader.php
  src/Application/Bootloader/McpServerBootloader.php
  src/Application/Kernel.php
  src/Config/Import/PathMatcher.php
  src/Config/Loader/CompositeConfigLoader.php
  src/Config/Parser/ParserPluginRegistry.php
  src/McpServer/Action/Prompts/AvailableContextPromptAction.php
  src/McpServer/Action/Prompts/GetPromptAction.php
  src/McpServer/Action/Prompts/ListPromptsAction.php
  src/McpServer/Prompt/Exception/PromptParsingException.php
  src/McpServer/Prompt/McpPromptBootloader.php
  src/McpServer/Prompt/PromptConfigFactory.php
  src/McpServer/Prompt/PromptDefinition.php
  src/McpServer/Prompt/PromptParserPlugin.php
  src/McpServer/Prompt/PromptProviderInterface.php
  src/McpServer/Prompt/PromptRegistry.php
  src/McpServer/Prompt/PromptRegistryInterface.php
  src/McpServer/Server.php
Labels: enhancement, mcp, mcp:action

#123 Implement modular import source system for remote configuration
  app.php
  json-schema.json
  src/Application/Bootloader/ComposerClientBootloader.php
  src/Application/Bootloader/ConfigLoaderBootloader.php
  src/Application/Bootloader/CoreBootloader.php
  src/Application/Bootloader/ImportBootloader.php
  src/Application/FSPath.php
  src/Application/Kernel.php
  src/Config/ConfigurationProvider.php
  src/Config/Import/ImportConfig.php
  src/Config/Import/ImportParserPlugin.php
  src/Config/Import/ImportResolver.php
  src/Config/Import/Source/AbstractImportSource.php
  src/Config/Import/Source/Config/AbstractSourceConfig.php
  src/Config/Import/Source/Config/SourceConfigFactory.php
  src/Config/Import/Source/Config/SourceConfigInterface.php
  src/Config/Import/Source/Exception/ImportSourceException.php
  src/Config/Import/Source/ImportSourceInterface.php
  src/Config/Import/Source/ImportSourceProvider.php
  src/Config/Import/Source/Local/LocalImportSource.php
  src/Config/Import/Source/Local/LocalSourceConfig.php
  src/Config/Import/Source/Registry/ImportSourceRegistry.php
  src/Config/Import/Source/Url/UrlImportSource.php
  src/Config/Import/Source/Url/UrlSourceConfig.php
  src/Config/Loader/CompositeConfigLoader.php
  src/Config/Loader/ConfigLoaderFactory.php
  src/Config/Loader/ConfigLoaderFactoryInterface.php
  src/Config/Loader/ConfigLoaderInterface.php
  src/Config/Parser/ConfigParser.php
  src/Config/Reader/AbstractReader.php
  src/Config/Reader/ConfigReaderRegistry.php
  src/Config/Reader/JsonReader.php
  src/Config/Reader/PhpReader.php
  src/Config/Reader/ReaderInterface.php
  src/Config/Reader/StringJsonReader.php
  src/Config/Reader/YamlReader.php
  src/Console/MCPServerCommand.php
  src/Lib/ComposerClient/ComposerClientInterface.php
  src/Lib/ComposerClient/FileSystemComposerClient.php
  src/Lib/Variable/VariableReplacementProcessor.php
  src/McpServer/Action/Prompts/GetPromptAction.php
  src/McpServer/Action/Prompts/ListPromptsAction.php
  src/Source/Composer/ComposerSourceBootloader.php
  src/Source/Composer/Provider/AbstractComposerProvider.php
  src/Source/Composer/Provider/LocalComposerProvider.php
  tests/src/ConfigLoader/Import/ImportConfigTest.php
Labels: config:loader, mcp:action, import

#135 Add Prompt Discovery Tools and Directory List Tool with Symfony Finder 📁
  src/Application/Bootloader/McpServerBootloader.php
  src/Console/MCPServerCommand.php
  src/Lib/Content/Renderer/MarkdownRenderer.php
  src/Lib/Git/Exception/GitCommandException.php
  src/Lib/Git/GitCommandsExecutor.php
  src/McpServer/Action/Prompts/FilesystemOperationsAction.php
  src/McpServer/Action/Tools/Filesystem/DirectoryListAction.php
  src/McpServer/Action/Tools/Filesystem/FileApplyPatchAction.php
  src/McpServer/Action/Tools/Filesystem/FileWriteAction.php
  src/McpServer/Action/Tools/Prompts/GetPromptToolAction.php
  src/McpServer/Action/Tools/Prompts/ListPromptsToolAction.php
  src/McpServer/GUIDELINE.md
  src/McpServer/McpConfig.php
Labels: enhancement, mcp, mcp:action

#141 Platform-Specific Binary Downloads
  .gitignore
  build-binary.sh
  composer.json
  src/Application/FSPath.php
  src/Application/Logger/FileLogger.php
  src/Console/Renderer/Style.php
  src/Console/SelfUpdateCommand.php
  src/Lib/BinaryUpdater/BinaryUpdater.php
  src/Lib/BinaryUpdater/Strategy/UnixUpdateStrategy.php
  src/Lib/BinaryUpdater/Strategy/UpdateStrategyInterface.php
  src/Lib/BinaryUpdater/Strategy/WindowsUpdateStrategy.php
  src/Lib/BinaryUpdater/UpdaterFactory.php
  src/Lib/GithubClient/Architecture.php
  src/Lib/GithubClient/BinaryNameBuilder.php
  src/Lib/GithubClient/GithubClient.php
  src/Lib/GithubClient/GithubClientInterface.php
  src/Lib/GithubClient/Model/GithubRepository.php
  src/Lib/GithubClient/Model/Release.php
  src/Lib/GithubClient/Platform.php
  src/Lib/GithubClient/ReleaseManager.php
  src/Lib/PathFilter/FileHelper.php
  src/Lib/TreeBuilder/TreeRenderer/AsciiTreeRenderer.php
  src/Modifier/PhpDocs/AstDocTransformer.php
  src/Source/Github/GithubFinder.php
  src/Source/Github/GithubSourceFetcher.php
Labels: bug, enhancement

#144 Add support for custom variables in configuration files
  json-schema.json
  src/Application/Bootloader/ConfigLoaderBootloader.php
  src/Application/Bootloader/VariableBootloader.php
  src/Config/Import/ImportResolver.php
  src/Config/Parser/VariablesParserPlugin.php
  src/Config/Registry/ConfigRegistry.php
  src/Document/Compiler/DocumentCompiler.php
  src/Lib/Variable/Provider/ConfigVariableProvider.php
  src/Lib/context.yaml
  tests/src/Document/Compiler/DocumentCompilerTest.php
Labels: config:parser, lib:variable

#147 Windows path normalization improvements in tree builder
  src/Lib/TreeBuilder/DirectorySorter.php
  src/Lib/TreeBuilder/FileTreeBuilder.php
  tests/src/Lib/TreeBuilder/DirectorySorterTest.php
  tests/src/Lib/TreeBuilder/FileTreeBuilderTest.php
Labels: bug, lib:tree-builder, sources

#148 Enhanced Logger Injection with PHP Attributes
  src/Application/Bootloader/ComposerClientBootloader.php
  src/Application/Bootloader/ConfigLoaderBootloader.php
  src/Application/Bootloader/HttpClientBootloader.php
  src/Application/Bootloader/ImportBootloader.php
  src/Application/Bootloader/LoggerBootloader.php
  src/Application/Bootloader/VariableBootloader.php
  src/Application/Logger/LoggerPrefix.php
  src/Config/ConfigurationProvider.php
  src/Config/Import/ImportParserPlugin.php
  src/Config/Import/ImportResolver.php
  src/Config/Import/Source/ImportSourceProvider.php
  src/Config/Import/Source/Local/LocalImportSource.php
  src/Config/Import/Source/Url/UrlImportSource.php
  src/Config/Import/WildcardPathFinder.php
  src/Config/Loader/ConfigLoaderFactory.php
  src/Config/Parser/VariablesParserPlugin.php
  src/Config/Reader/JsonReader.php
  src/Config/Reader/PhpReader.php
  src/Config/Reader/YamlReader.php
  src/Console/BaseCommand.php
  src/Console/MCPServerCommand.php
  src/Document/Compiler/DocumentCompiler.php
  src/Document/DocumentsParserPlugin.php
  src/Lib/ComposerClient/FileSystemComposerClient.php
  src/Lib/Variable/VariableReplacementProcessor.php
  src/McpServer/Action/Prompts/FilesystemOperationsAction.php
  src/McpServer/Action/Prompts/GetPromptAction.php
  src/McpServer/Action/Prompts/ListPromptsAction.php
  src/McpServer/Action/Prompts/ProjectStructurePromptAction.php
  src/McpServer/Action/Resources/GetDocumentContentResourceAction.php
  src/McpServer/Action/Resources/JsonSchemaResourceAction.php
  src/McpServer/Action/Resources/ListResourcesAction.php
  src/Source/Composer/ComposerSourceBootloader.php
  src/Source/Composer/ComposerSourceFetcher.php
  src/Source/Composer/Provider/LocalComposerProvider.php
  src/Source/File/FileSourceBootloader.php
  src/Source/File/FileSourceFetcher.php
  src/Source/GitDiff/GitDiffSourceBootloader.php
  src/Source/GitDiff/GitDiffSourceFetcher.php
  src/Source/Github/GithubSourceBootloader.php
  src/Source/Github/GithubSourceFetcher.php
  src/Source/Registry/SourceRegistry.php
  src/Source/Registry/SourceRegistryBootloader.php
  src/Source/Text/TextSourceBootloader.php
  src/Source/Text/TextSourceFetcher.php
  src/Source/Tree/TreeSourceBootloader.php
  src/Source/Tree/TreeSourceFetcher.php
  src/Source/Url/UrlSourceBootloader.php
  src/Source/Url/UrlSourceFetcher.php
Labels: type:enhancement, type:refactoring

#149 Improved Generate Command Output Readability
  src/Console/GenerateCommand.php
  src/Console/Renderer/GenerateCommandRenderer.php
Labels: enhancement, console:cli, console:renderer

#151 Git Components Refactoring
  context.yaml
  src/Application/Bootloader/GitClientBootloader.php
  src/Lib/Git/Command.php
  src/Lib/Git/CommandsExecutor.php
  src/Lib/Git/CommandsExecutorInterface.php
  src/Lib/Git/Exception/GitClientException.php
  src/Lib/Git/GitCommandsExecutor.php
  src/Lib/context.yaml
  src/McpServer/Action/Tools/Filesystem/FileApplyPatchAction.php
  src/Modifier/context.yaml
  src/Source/GitDiff/Fetcher/CommitRangeParser.php
  src/Source/GitDiff/Fetcher/GitSourceFactory.php
  src/Source/GitDiff/Fetcher/Source/AbstractGitSource.php
  src/Source/GitDiff/Fetcher/Source/CommitGitSource.php
  src/Source/GitDiff/Fetcher/Source/FileAtCommitGitSource.php
  src/Source/GitDiff/Fetcher/Source/StagedGitSource.php
  src/Source/GitDiff/Fetcher/Source/StashGitSource.php
  src/Source/GitDiff/Fetcher/Source/TimeRangeGitSource.php
  src/Source/GitDiff/Fetcher/Source/UnstagedGitSource.php
  src/Source/GitDiff/Git/GitClient.php
  src/Source/GitDiff/Git/GitClientInterface.php
  src/Source/GitDiff/GitDiffFinder.php
  src/Source/GitDiff/GitDiffSourceBootloader.php
  src/Source/GitDiff/GitDiffSourceFetcher.php
  tests/src/Source/GitDiff/Fetcher/Source/AbstractGitSourceTest.php
  tests/src/Source/GitDiff/Fetcher/Source/CommitGitSourceTest.php
  tests/src/Source/GitDiff/Fetcher/Source/FileAtCommitGitSourceTest.php
  tests/src/Source/GitDiff/Fetcher/Source/GitSourceTestCase.php
  tests/src/Source/GitDiff/Fetcher/Source/StagedGitSourceTest.php
  tests/src/Source/GitDiff/Fetcher/Source/StashGitSourceTest.php
  tests/src/Source/GitDiff/Fetcher/Source/TimeRangeGitSourceTest.php
  tests/src/Source/GitDiff/Fetcher/Source/UnstagedGitSourceTest.php
Labels: enhancement, lib:utils

#156 Add custom tools configuration and execution support
  .gitignore
  context.yaml
  docs/config/config-system-guide.md
  docs/config/import-system-guide.md
  docs/config/readers-and-parsers-guide.md
  docs/document-compilation-guide.md
  docs/example/config/custom-tools-example.yaml
  docs/mcp/custom-tools.md
  json-schema.json
  src/Application/Bootloader/McpServerBootloader.php
  src/Config/context.yaml
  src/McpServer/Action/Tools/ExecuteCustomToolAction.php
  src/McpServer/Action/Tools/ListToolsAction.php
  src/McpServer/Attribute/Tool.php
  src/McpServer/McpConfig.php
  src/McpServer/Tool/Command/CommandExecutor.php
  src/McpServer/Tool/Command/CommandExecutorInterface.php
  src/McpServer/Tool/Config/ToolCommand.php
  src/McpServer/Tool/Config/ToolDefinition.php
  src/McpServer/Tool/Exception/ToolExecutionException.php
  src/McpServer/Tool/McpToolBootloader.php
  src/McpServer/Tool/ToolParserPlugin.php
  src/McpServer/Tool/ToolProviderInterface.php
  src/McpServer/Tool/ToolRegistry.php
  src/McpServer/Tool/ToolRegistryInterface.php
  src/McpServer/Tool/Types/AbstractToolHandler.php
  src/McpServer/Tool/Types/RunToolHandler.php
  src/McpServer/Tool/Types/ToolHandlerInterface.php
  src/McpServer/context.yaml
Labels: enhancement, mcp

#159 Add JSON schema-based tool arguments with defaults and conditional support
  composer.json
  context.yaml
  docs/example/config/tool-with-arguments.yaml
  docs/mcp/custom-tools.md
  docs/mcp_server/integration_guide.md
  docs/mcp_server/prompts_guide.md
  docs/mcp_server/tools_guide.md
  json-schema.json
  src/McpServer/Action/Tools/ExecuteCustomToolAction.php
  src/McpServer/Action/Tools/Filesystem/FileApplyPatchAction.php
  src/McpServer/Action/Tools/ListToolsAction.php
  src/McpServer/Tool/Config/ToolArg.php
  src/McpServer/Tool/Config/ToolCommand.php
  src/McpServer/Tool/Config/ToolDefinition.php
  src/McpServer/Tool/Config/ToolSchema.php
  src/McpServer/Tool/McpToolBootloader.php
  src/McpServer/Tool/Provider/ToolArgumentsProvider.php
  src/McpServer/Tool/Types/AbstractToolHandler.php
  src/McpServer/Tool/Types/RunToolHandler.php
  src/McpServer/Tool/Types/ToolHandlerInterface.php
  src/McpServer/context.yaml
Labels: enhancement, mcp

#161 Fixed problem with current working dir detection inside custom tool
  json-schema.json
  src/Console/MCPServerCommand.php
  src/McpServer/Tool/McpToolBootloader.php
Labels: bug

#162 fix: Fixed current dir with binary detection for self update
  src/Console/MCPServerCommand.php
  src/Console/SelfUpdateCommand.php
  src/McpServer/Action/Resources/JsonSchemaResourceAction.php
  src/Source/Url/UrlSourceBootloader.php
  src/Source/Url/UrlSourceFetcher.php
Labels: bug

#163 feat: added an ability to import tools with workingDir support
  src/Config/Import/ImportResolver.php
  src/Config/Import/Source/ImportedConfig.php
  src/McpServer/Tool/Config/ToolCommand.php
  src/McpServer/Tool/Config/ToolDefinition.php
Labels: enhancement, mcp, import

#167 Add MCP Source Type
  json-schema.json
  src/Application/Bootloader/ConfigLoaderBootloader.php
  src/Application/Bootloader/ModifierBootloader.php
  src/Application/Kernel.php
  src/Source/Composer/ComposerSourceFactory.php
  src/Source/MCP/Config/McpServerParserPlugin.php
  src/Source/MCP/Config/ServerConfig.php
  src/Source/MCP/Config/ServerRegistry.php
  src/Source/MCP/Connection/ConnectionManager.php
  src/Source/MCP/McpSource.php
  src/Source/MCP/McpSourceBootloader.php
  src/Source/MCP/McpSourceFactory.php
  src/Source/MCP/McpSourceFetcher.php
  src/Source/MCP/Operations/AbstractOperation.php
  src/Source/MCP/Operations/CallToolOperation.php
  src/Source/MCP/Operations/OperationFactory.php
  src/Source/MCP/Operations/OperationInterface.php
  src/Source/MCP/Operations/ReadResourceOperation.php
  src/Source/context.yaml
Labels: sources, mcp

#169 Return Complete ConfigRegistry
  json-schema.json
  src/Config/Import/ImportParserPlugin.php
  src/Config/Import/ImportRegistry.php
  src/Config/Import/ImportResolver.php
  src/Config/Import/ResolvedConfig.php
  src/Config/Import/Source/Config/SourceConfigInterface.php
  src/Config/Import/Source/ImportedConfig.php
  src/Config/Import/Source/Local/LocalSourceConfig.php
  src/Config/Import/Source/Url/UrlSourceConfig.php
  src/Config/Loader/CompositeConfigLoader.php
  src/Config/Loader/ConfigLoader.php
  src/Config/Loader/ConfigLoaderInterface.php
  src/Config/Registry/ConfigRegistryAccessor.php
  src/Config/Registry/RegistryInterface.php
  src/Config/context.yaml
  src/Console/DisplayCommand.php
  src/Console/GenerateCommand.php
  src/Console/Renderer/GenerateCommandRenderer.php
  src/Document/DocumentRegistry.php
  src/McpServer/Action/Resources/GetDocumentContentResourceAction.php
  src/McpServer/Action/Resources/ListResourcesAction.php
  src/McpServer/Action/Tools/Context/ContextAction.php
  src/McpServer/Action/Tools/Context/ContextGetAction.php
  src/McpServer/Action/Tools/Context/ContextRequestAction.php
  src/McpServer/Prompt/PromptRegistry.php
  src/McpServer/Tool/ToolRegistry.php
  tests/src/Feature/Compiler/AbstractCompilerTestCase.php
Labels: enhancement, console:renderer, config:loader, import

#170 feat: enhance logging support by injecting logger into ServerRunner
  src/Console/MCPServerCommand.php
  src/McpServer/Server.php
  src/McpServer/ServerRunner.php
Labels: mcp

#166 MCP Project Environment
  src/Application/Bootloader/McpServerBootloader.php
  src/Console/MCPServerCommand.php
  src/McpServer/McpConfig.php
  src/McpServer/ProjectService/ProjectService.php
  src/McpServer/ProjectService/ProjectServiceFactory.php
  src/McpServer/ProjectService/ProjectServiceInterface.php
  src/McpServer/Server.php
  src/McpServer/ServerRunner.php
  src/Source/GitDiff/Fetcher/Source/AbstractGitSource.php
Labels: mcp

#171 HTTP Tools for MCP Server
  docs/mcp/http-tools.md
  json-schema.json
  src/Application/Bootloader/HttpClientBootloader.php
  src/Lib/HttpClient/HttpClientFactory.php
  src/Lib/HttpClient/HttpClientInterface.php
  src/Lib/HttpClient/NullHttpClient.php
  src/Lib/HttpClient/Psr18Client.php
  src/McpServer/Action/Tools/ExecuteCustomToolAction.php
  src/McpServer/Tool/Config/HttpToolRequest.php
  src/McpServer/Tool/Config/ToolDefinition.php
  src/McpServer/Tool/ToolHandlerFactory.php
  src/McpServer/Tool/Types/HttpToolHandler.php
  src/McpServer/Tool/Types/RunToolHandler.php
Labels: enhancement, mcp

#173 Add maxFiles parameter to FileSource
  json-schema.json
  src/Source/Composer/ComposerSource.php
  src/Source/Fetcher/FilterableSourceInterface.php
  src/Source/File/FileSource.php
  src/Source/File/FileSourceFactory.php
  src/Source/File/SymfonyFinder.php
  src/Source/GitDiff/GitDiffSource.php
  src/Source/Github/GithubSource.php
  src/Source/Tree/TreeSource.php
Labels: lib:finder, source:file

#176 feat: refactor file handling to use FSPath for temporary file creation
  src/Console/MCPServerCommand.php
  src/Source/GitDiff/Fetcher/Source/AbstractGitSource.php
  src/Source/Tree/TreeSourceBootloader.php
  src/Source/Tree/TreeSourceFetcher.php
Labels: bug, source:git-diff

#188 docs: update README.md
  README.md
Labels: documentation

#190 GitLab Source Component
  README.md
  context.yaml
  docs/example/config/gitlab-source-example.yaml
  json-schema.json
  prompts.yaml
  src/Application/Bootloader/GitlabClientBootloader.php
  src/Application/Kernel.php
  src/Lib/GitlabClient/GitlabClient.php
  src/Lib/GitlabClient/GitlabClientInterface.php
  src/Lib/GitlabClient/Model/GitlabRepository.php
  src/Lib/context.yaml
  src/Source/Gitlab/Config/GitlabServerParserPlugin.php
  src/Source/Gitlab/Config/ServerConfig.php
  src/Source/Gitlab/Config/ServerRegistry.php
  src/Source/Gitlab/GitlabFileInfo.php
  src/Source/Gitlab/GitlabFinder.php
  src/Source/Gitlab/GitlabSource.php
  src/Source/Gitlab/GitlabSourceBootloader.php
  src/Source/Gitlab/GitlabSourceFactory.php
  src/Source/Gitlab/GitlabSourceFetcher.php
  src/Source/context.yaml
Labels: enhancement, sources

#192 Modular Configuration Merger System
  .github/workflows/testing.yml
  composer.json
  src/Application/Bootloader/ConfigLoaderBootloader.php
  src/Application/ExceptionHandler.php
  src/Config/Import/ImportResolver.php
  src/Config/Import/Merger/AbstractConfigMerger.php
  src/Config/Import/Merger/ConfigMergerInterface.php
  src/Config/Import/Merger/ConfigMergerProviderInterface.php
  src/Config/Import/Merger/ConfigMergerRegistry.php
  src/Document/DocumentConfigMerger.php
  src/McpServer/Prompt/McpPromptBootloader.php
  src/McpServer/Prompt/PromptConfigMerger.php
  src/McpServer/Tool/McpToolBootloader.php
  src/McpServer/Tool/ToolConfigMerger.php
Labels: enhancement, import

#195 Add prompt tagging and import filtering system
  docs/example/config/import-with-filters.yaml
  docs/example/config/tagged-prompts.yaml
  docs/mcp/integration_guide.md
  docs/mcp/prompts/implementation-notes.md
  docs/mcp/prompts/prompt-tagging-and-filtering.md
  docs/mcp/prompts/prompts_guide.md
  docs/mcp/tools/http-tools.md
  docs/mcp/tools/tools_guide.md
  json-schema.json
  src/Application/FSPath.php
  src/Application/Kernel.php
  src/Config/Import/Source/Config/AbstractSourceConfig.php
  src/Config/Import/Source/Config/FilterConfig.php
  src/Config/Import/Source/Config/SourceConfigInterface.php
  src/Config/Import/Source/Local/LocalSourceConfig.php
  src/Config/Import/Source/Url/UrlSourceConfig.php
  src/McpServer/Console/MCPServerCommand.php
  src/McpServer/McpServerBootloader.php
  src/McpServer/Prompt/Console/ListPromptsCommand.php
  src/McpServer/Prompt/Extension/PromptDefinition.php
  src/McpServer/Prompt/Filter/FilterStrategy.php
  src/McpServer/Prompt/Filter/PromptFilterFactory.php
  src/McpServer/Prompt/Filter/PromptFilterInterface.php
  src/McpServer/Prompt/Filter/Strategy/CompositePromptFilter.php
  src/McpServer/Prompt/Filter/Strategy/IdPromptFilter.php
  src/McpServer/Prompt/Filter/Strategy/TagPromptFilter.php
  src/McpServer/Prompt/McpPromptBootloader.php
  src/McpServer/Prompt/PromptConfigFactory.php
  src/McpServer/Prompt/PromptConfigMerger.php
  tests/fixtures/McpServer/Prompts/prompt_filters.yaml
  tests/fixtures/McpServer/Prompts/prompt_filters_imported.yaml
  tests/src/Feature/McpServer/Prompt/Filter/CompositeFilterTest.php
  tests/src/Feature/McpServer/Prompt/Filter/FilterImportTest.php
  tests/src/Feature/McpServer/Prompt/Filter/FilterIntegrationTest.php
  tests/src/Feature/McpServer/Prompt/Filter/FilterStrategyTest.php
  tests/src/Feature/McpServer/Prompt/Filter/PromptFilterFactoryTest.php
  tests/src/Feature/McpServer/Prompt/Filter/PromptFilterTest.php
Labels: type:enhancement, mcp:prompt

#196 MCP Tool CLI Commands
  src/McpServer/Tool/Config/ToolDefinition.php
  src/McpServer/Tool/Console/ToolListCommand.php
  src/McpServer/Tool/Console/ToolRunCommand.php
  src/McpServer/Tool/McpToolBootloader.php
Labels: console:cli, type:refactoring, mcp:tools

#198 feat: Add VariablesConfigMerger to handle variable merging in configuration
  src/Application/Bootloader/ConfigLoaderBootloader.php
  src/Config/Import/Merger/VariablesConfigMerger.php
Labels: enhancement, config:loader, import

#199 fix: Update prompt retrieval method to use only prompts with type prompt
  src/McpServer/Action/Prompts/ListPromptsAction.php
Labels: bug, mcp:prompt

#206 Docker-Based CTX Deployment
  .github/workflows/build-linux-release.yml
  .github/workflows/build-macos-release.yml
  .github/workflows/build-windows-release.yml
  .github/workflows/generate-docs.yml
Labels: enhancement

#208 Add Context7 Documentation Source
  json-schema.json
  src/Application/Kernel.php
  src/McpServer/Action/Tools/Docs/DocsSearchAction.php
  src/McpServer/McpConfig.php
  src/McpServer/McpServerBootloader.php
  src/McpServer/context.yaml
  src/Source/Docs/DocsSource.php
  src/Source/Docs/DocsSourceBootloader.php
  src/Source/Docs/DocsSourceFactory.php
  src/Source/Docs/DocsSourceFetcher.php
  src/Source/Gitlab/GitlabSourceFetcher.php
  src/Source/context.yaml
Labels: type:enhancement, sources

#209 feat: Enhance import handling and add comprehensive local import tests
  src/Config/Import/ImportParserPlugin.php
  src/Config/Import/ImportRegistry.php
  src/Config/Import/ImportResolver.php
  src/Config/Import/Source/ImportSourceProvider.php
  src/Config/Import/Source/Url/UrlImportSource.php
  src/Console/GenerateCommand.php
  src/McpServer/Prompt/PromptConfigFactory.php
  src/McpServer/Prompt/PromptRegistry.php
  src/McpServer/Tool/ToolRegistry.php
  tests/docs/writing-generate-command-tests.md
  tests/src/Feature/Console/GenerateCommand/CompilingResult.php
  tests/src/Feature/Console/GenerateCommand/FileSourceTest.php
  tests/src/Feature/Console/GenerateCommand/GenerateCommandTest.php
  tests/src/Feature/Console/GenerateCommand/GithubSourceTest.php
  tests/src/Feature/Console/GenerateCommand/GitlabSourceTest.php
  tests/src/Feature/Console/GenerateCommand/LocalImportTest.php
  tests/src/Feature/Console/GenerateCommand/PromptAssertions.php
  tests/src/Feature/Console/GenerateCommand/PromptValidationTest.php
  tests/src/Feature/Console/GenerateCommand/PromptsTest.php
  tests/src/Feature/Console/GenerateCommand/ToolAssertions.php
  tests/src/Feature/Console/GenerateCommand/ToolsTest.php
  tests/src/Feature/Console/GenerateCommand/UrlImportTest.php
  tests/src/Feature/Console/GenerateCommand/UrlSourceTest.php
  tests/src/Feature/McpServer/Prompt/JsonSerializationTest.php
Labels: config:loader, import

#210 feat: Enhance installation script with existing installation check and OS-specific default directories
  download-latest.sh
Labels: enhancement
