Repository context-hub/generator, pull requests merged in 2025-05, with the labels that each got.

#213 fix: Load config once before all MCP actions loaded.
  src/McpServer/McpServerBootloader.php
Labels: bug, mcp:tools

#212 Global Exclusion Pattern System
  docs/example/config/exclude-config.yaml
  json-schema.json
  src/Application/Bootloader/ExcludeBootloader.php
  src/Application/Kernel.php
  src/Config/Exclude/AbstractExclusion.php
  src/Config/Exclude/ExcludeParserPlugin.php
  src/Config/Exclude/ExcludeRegistry.php
  src/Config/Exclude/ExcludeRegistryInterface.php
  src/Config/Exclude/ExclusionPatternInterface.php
  src/Config/Exclude/PathExclusion.php
  src/Config/Exclude/PatternExclusion.php
  src/Config/Import/PathMatcher.php
  src/Config/context.yaml
  src/Source/Composer/ComposerSourceFetcher.php
  src/Source/File/FileSourceBootloader.php
  src/Source/File/FileSourceFetcher.php
  src/Source/File/SymfonyFinder.php
  src/Source/Github/GithubFinder.php
  src/Source/Gitlab/GitlabFinder.php
  src/Source/Tree/TreeSourceFetcher.php
  src/Source/context.yaml
  tests/fixtures/Console/GenerateCommand/FileSource/exclude-test.yaml
  tests/src/Feature/Console/GenerateCommand/CompilingResult.php
  tests/src/Feature/Console/GenerateCommand/ExcludeTest.php
  tests/src/context.yaml
Labels: config:loader, source:tree, source:github, source:file

#214 Enhance global state directory determination for Windows
  app.php
Labels: bug, mcp, os:windows

#215 feat: Integrate FSPath for path handling in MCP projects
  src/McpServer/Projects/DTO/CurrentProjectDTO.php
  src/McpServer/Projects/DTO/ProjectDTO.php
  src/McpServer/Projects/DTO/ProjectStateDTO.php
Labels: bug, os:windows, mcp:projects
