Repository context-hub/generator, pull requests merged in 2025-03, with the labels that each got.

#1 Add PHP Class Signature Source for generating clean class interfaces
  README.md
  composer.json
  src/Cli/ContextGenerator.php
  src/DocumentCompiler.php
  src/Fetcher/FileSourceFetcher.php
  src/Fetcher/PhpClassParser.php
  src/Fetcher/PhpFileSourceFetcher.php
  src/Loader/JsonConfigDocumentsLoader.php
  src/Source/FileSource.php
  src/Source/PhpClassSource.php
Labels: enhancement

#2 Add GitHub repository source support and source content modifiers system
  README.md
  composer.json
  context-generator
  json-schema.json
  src/Cli/ContextGenerator.php
  src/Fetcher/FileSourceFetcher.php
  src/Fetcher/GithubSourceFetcher.php
  src/Fetcher/PhpFileSourceFetcher.php
  src/Loader/JsonConfigDocumentsLoader.php
  src/Modifier/PhpSignature.php
  src/Source/FileSource.php
  src/Source/GithubSource.php
  src/Source/PhpClassSource.php
  src/Source/SourceModifierRegistry.php
  src/SourceModifierInterface.php
Labels: enhancement

#32 fix: ensure file is an instance of SplFileInfo in FileSourceFetcher
  src/Source/File/FileSourceFetcher.php
Labels: bug

#33 feat: Add InitCommand for CLI configuration setup
  context-generator
  src/Console/GenerateCommand.php
  src/Console/InitCommand.php
  src/Console/VersionCommand.php
  src/Document.php
  src/DocumentRegistry.php
Labels: enhancement

#34 feat: Add error handling to DocumentCompiler for graceful source processing
  README.md
  context.json
  src/Console/GenerateCommand.php
  src/Console/InitCommand.php
  src/Console/VersionCommand.php
  src/Document/CompiledDocument.php
  src/Document/DocumentCompiler.php
  src/Document/DocumentRegistry.php
  src/DocumentCompiler.php
  src/DocumentsLoaderInterface.php
  src/Error/ErrorCollection.php
  src/Error/SourceError.php
  src/Lib/Files.php
  src/Loader/CompositeDocumentsLoader.php
  src/Loader/ConfigDocumentsLoader.php
  src/Loader/JsonConfigDocumentsLoader.php
  src/Loader/JsonConfigParser.php
  src/Source/File/FileSourceFetcher.php
  tests/src/Loader/JsonConfigDocumentsLoaderTest.php
  tests/src/Loader/JsonConfigParserTest.php
Labels: enhancement

#37 Add self-update command
  README.md
  context-generator
  download-latest.sh
  src/Console/GenerateCommand.php
  src/Console/InitCommand.php
  src/Console/SchemaCommand.php
  src/Console/SelfUpdateCommand.php
  src/Console/VersionCommand.php
  src/Lib/Content/Renderer/MarkdownRenderer.php
  src/Lib/Content/Renderer/PlainTextRenderer.php
  src/Lib/GithubClient/GithubClient.php
  src/Lib/GithubClient/GithubClientInterface.php
  src/Lib/GithubClient/Model/GithubRepository.php
  src/Lib/HttpClient/Exception/HttpClientNotAvailableException.php
  src/Lib/HttpClient/Exception/HttpException.php
  src/Lib/HttpClient/Exception/HttpRequestException.php
  src/Lib/HttpClient/HttpClientFactory.php
  src/Lib/HttpClient/HttpClientInterface.php
  src/Lib/HttpClient/HttpResponse.php
  src/Lib/HttpClient/NullHttpClient.php
  src/Lib/HttpClient/Psr18Client.php
  src/Source/Github/GithubFinder.php
  src/Source/Github/GithubSourceFetcher.php
  src/Source/Url/UrlSourceFetcher.php
Labels: documentation, enhancement

#39 Refactor JsonConfigParser with modular plugin architecture
  .gitattributes
  README.md
  composer.json
  context-generator
  context.json
  src/Console/DisplayCommand.php
  src/Console/GenerateCommand.php
  src/Console/InitCommand.php
  src/Console/Renderer/ConfigRendererInterface.php
  src/Console/Renderer/DocumentRenderer.php
  src/Console/Renderer/ModifierRenderer.php
  src/Console/Renderer/SourceRenderer.php
  src/Console/Renderer/Style.php
  src/Document/Compiler/CompiledDocument.php
  src/Document/Compiler/DocumentCompiler.php
  src/Document/Compiler/Error/ErrorCollection.php
  src/Document/Compiler/Error/SourceError.php
  src/Document/Document.php
  src/Document/DocumentCompiler.php
  src/DocumentsLoaderInterface.php
  src/Fetcher/SourceFetcherRegistry.php
  src/Lib/Finder/FinderResult.php
  src/Lib/Logger/ConsoleLogger.php
  src/Lib/Logger/FormatterInterface.php
  src/Lib/Logger/HasPrefixLoggerInterface.php
  src/Lib/Logger/LogLevel.php
  src/Lib/Logger/LoggerFactory.php
  src/Lib/Logger/NullLogger.php
  src/Lib/Logger/SimpleFormatter.php
  src/Loader/CompositeDocumentsLoader.php
  src/Loader/ConfigDocumentsLoader.php
  src/Loader/ConfigRegistry/CompositeConfigParser.php
  src/Loader/ConfigRegistry/ConfigParser.php
  src/Loader/ConfigRegistry/ConfigRegistry.php
  src/Loader/ConfigRegistry/DocumentRegistry.php
  src/Loader/ConfigRegistry/DocumentsParserPlugin.php
  src/Loader/ConfigRegistry/Parser/ConfigParserInterface.php
  src/Loader/ConfigRegistry/Parser/ConfigParserPluginInterface.php
  src/Loader/ConfigRegistry/RegistryInterface.php
  src/Loader/JsonConfigDocumentsLoader.php
  src/Modifier/Modifier.php
  src/Modifier/PhpContentFilter.php
  src/Parser/DefaultSourceParser.php
  src/Source/File/FileSourceFetcher.php
  src/Source/File/SymfonyFinder.php
  src/Source/GitDiff/CommitDiffFinder.php
  src/Source/GitDiff/CommitDiffSourceFetcher.php
  src/Source/Github/GithubFinder.php
  src/Source/Github/GithubSourceFetcher.php
  src/Source/Text/TextSourceFetcher.php
  src/Source/Url/UrlSource.php
  src/Source/Url/UrlSourceFetcher.php
  tests/src/Fetcher/FileSourceFetcherTest.php
  tests/src/Fetcher/TextSourceFetcherTest.php
  tests/src/Fetcher/UrlSourceFetcherTest.php
  tests/src/Loader/JsonConfigDocumentsLoaderTest.php
  tests/src/Loader/JsonConfigParserTest.php
  tests/src/Modifier/PhpContentFilterTest.php
  tests/src/Source/TextSourceFromArrayTest.php
  tests/src/Source/UrlSourceConstructorTest.php
Labels: enhancement

#45 Add Document-Level Modifiers
  README.md
  context.json
  json-schema.json
  src/Console/DisplayCommand.php
  src/Console/GenerateCommand.php
  src/Document/Compiler/DocumentCompiler.php
  src/Document/Document.php
  src/Document/DocumentsParserPlugin.php
  src/Fetcher/SourceFetcherInterface.php
  src/Fetcher/SourceFetcherRegistry.php
  src/Modifier/Alias/AliasesRegistry.php
  src/Modifier/Alias/ModifierAliasesParserPlugin.php
  src/Modifier/Alias/ModifierResolver.php
  src/Modifier/ModifiersApplier.php
  src/Modifier/ModifiersApplierInterface.php
  src/Modifier/SourceModifierRegistry.php
  src/Source/BaseSource.php
  src/Source/File/FileSource.php
  src/Source/File/FileSourceFetcher.php
  src/Source/GitDiff/CommitDiffSource.php
  src/Source/GitDiff/CommitDiffSourceFetcher.php
  src/Source/Github/GithubSource.php
  src/Source/Github/GithubSourceFetcher.php
  src/Source/SourceWithModifiers.php
  src/Source/Text/TextSourceFetcher.php
  src/Source/Url/UrlSourceFetcher.php
  src/SourceInterface.php
  src/SourceParserInterface.php
  tests/src/Fetcher/FileSourceFetcherTest.php
  tests/src/Fetcher/TextSourceFetcherTest.php
  tests/src/Source/BaseSourceConstructorTest.php
Labels: enhancement

#51 Add tagging support for documents and sources
  .github/ISSUE_TEMPLATE/1_Bug_report.md
  .github/ISSUE_TEMPLATE/2_Feature_request.md
  .github/ISSUE_TEMPLATE/3_Support_question.md
  README.md
  json-schema.json
  src/Document/Compiler/DocumentCompiler.php
  src/Document/Document.php
  src/Document/DocumentsParserPlugin.php
  src/Lib/Content/ContentBuilder.php
  src/Lib/Content/Renderer/MarkdownRenderer.php
  src/Lib/Content/Renderer/PlainTextRenderer.php
  src/Source/BaseSource.php
  src/Source/File/FileSource.php
  src/Source/GitDiff/CommitDiffSource.php
  src/Source/Github/GithubSource.php
  src/Source/SourceWithModifiers.php
  src/Source/Text/TextSource.php
  src/Source/Text/TextSourceFetcher.php
  src/Source/Url/UrlSource.php
  src/SourceInterface.php
  tests/src/Fetcher/TextSourceFetcherTest.php
Labels: enhancement

#53 New Composer Source Type
  json-schema.json
  src/Console/GenerateCommand.php
  src/Document/DocumentsParserPlugin.php
  src/Source/Composer/Client/ComposerClientInterface.php
  src/Source/Composer/Client/FileSystemComposerClient.php
  src/Source/Composer/ComposerSource.php
  src/Source/Composer/ComposerSourceFetcher.php
  src/Source/Composer/Exception/ComposerNotFoundException.php
  src/Source/Composer/Package/ComposerPackageCollection.php
  src/Source/Composer/Package/ComposerPackageInfo.php
  src/Source/Composer/Provider/AbstractComposerProvider.php
  src/Source/Composer/Provider/ComposerProviderInterface.php
  src/Source/Composer/Provider/CompositeComposerProvider.php
  src/Source/Composer/Provider/LocalComposerProvider.php
Labels: enhancement

#54 Custom Headers Support for URL Source
  README.md
  context.json
  json-schema.json
  src/Source/Url/UrlSource.php
  src/Source/Url/UrlSourceFetcher.php
Labels: enhancement

#56 Add Support for Self-Executable Binary Installation
  .github/workflows/build-phar-release.yml
  .github/workflows/buld-bin-release.yml
  README.md
  context-generator
  download-latest.sh
  src/Console/SelfUpdateCommand.php
Labels: enhancement

#58 If env option is not provided do not try to load .env
  README.md
  src/Console/GenerateCommand.php
Labels: bug

#67 feat: Add YAML configuration support and reorganize config loader architecture
  Dockerfile
  README.md
  composer.json
  context.json
  context.yaml
  src/ConfigLoader/CompositeConfigLoader.php
  src/ConfigLoader/ConfigLoader.php
  src/ConfigLoader/ConfigLoaderFactory.php
  src/ConfigLoader/ConfigLoaderInterface.php
  src/ConfigLoader/Exception/ConfigLoaderException.php
  src/ConfigLoader/Exception/ReaderException.php
  src/ConfigLoader/Parser/CompositeConfigParser.php
  src/ConfigLoader/Parser/ConfigParser.php
  src/ConfigLoader/Parser/ConfigParserInterface.php
  src/ConfigLoader/Parser/ConfigParserPluginInterface.php
  src/ConfigLoader/Reader/AbstractReader.php
  src/ConfigLoader/Reader/JsonReader.php
  src/ConfigLoader/Reader/PhpReader.php
  src/ConfigLoader/Reader/ReaderInterface.php
  src/ConfigLoader/Reader/YamlReader.php
  src/ConfigLoader/Registry/ConfigRegistry.php
  src/ConfigLoader/Registry/DocumentRegistry.php
  src/ConfigLoader/Registry/RegistryInterface.php
  src/Console/DisplayCommand.php
  src/Console/GenerateCommand.php
  src/Console/InitCommand.php
  src/Document/DocumentsParserPlugin.php
  src/DocumentsLoaderInterface.php
  src/Loader/CompositeDocumentsLoader.php
  src/Loader/ConfigDocumentsLoader.php
  src/Loader/JsonConfigDocumentsLoader.php
  src/Modifier/Alias/ModifierAliasesParserPlugin.php
Labels: enhancement

#72 Fixed Directory-Only Tree Rendering
  context.yaml
  src/ConfigLoader/Parser/CompositeConfigParser.php
  src/ConfigLoader/Parser/ConfigParser.php
  src/Lib/Content/Block/AbstractBlock.php
  src/Lib/Content/Block/CodeBlock.php
  src/Lib/Content/Block/CommentBlock.php
  src/Lib/Content/Block/DescriptionBlock.php
  src/Lib/Content/Block/SeparatorBlock.php
  src/Lib/Content/Block/TextBlock.php
  src/Lib/Content/Block/TitleBlock.php
  src/Lib/Content/Block/TreeViewBlock.php
  src/Lib/Content/ContentBuilderFactory.php
  src/Lib/Content/Renderer/AbstractRenderer.php
  src/Lib/Content/Renderer/MarkdownRenderer.php
  src/Lib/Content/Renderer/PlainTextRenderer.php
  src/Lib/Finder/FinderInterface.php
  src/Lib/Html/HtmlCleaner.php
  src/Lib/Html/SelectorContentExtractor.php
  src/Lib/HttpClient/NullHttpClient.php
  src/Lib/PathFilter/ExcludePathFilter.php
  src/Lib/PathFilter/FilePatternFilter.php
  src/Lib/PathFilter/PathFilter.php
  src/Lib/TreeBuilder/DirectorySorter.php
  src/Lib/TreeBuilder/FileTreeBuilder.php
  src/Lib/TreeBuilder/TreeRenderer/AsciiTreeRenderer.php
  src/Source/File/SymfonyFinder.php
  src/Source/GitDiff/CommitDiffFinder.php
  src/Source/Github/GithubFinder.php
  src/Source/Tree/TreeFinder.php
  src/Source/Tree/TreeSourceFetcher.php
Labels: bug

#74 Add support for inline JSON configuration in build command
  context.yaml
  src/ConfigLoader/ConfigLoaderFactory.php
  src/ConfigLoader/Reader/StringJsonReader.php
  src/Console/GenerateCommand.php
Labels: enhancement

#76 Custom Configuration File Support & Option Renaming
  src/ConfigLoader/CompositeConfigLoader.php
  src/ConfigLoader/ConfigLoaderFactory.php
  src/ConfigLoader/ConfigurationProvider.php
  src/ConfigLoader/Reader/StringJsonReader.php
  src/Console/GenerateCommand.php
Labels: console:cli, config:loader

#77 Extract token counting functionality into separate service
  src/Lib/TokenCounter/CharTokenCounter.php
  src/Lib/TokenCounter/TokenCounterInterface.php
  src/Lib/TreeBuilder/TreeRenderer/AsciiTreeRenderer.php
Labels: source:tree

#78 Enhanced Tree View Configuration
  context.yaml
  json-schema.json
  src/Console/Renderer/SourceRenderer.php
  src/Lib/TreeBuilder/TreeViewConfig.php
  src/Source/Composer/ComposerSource.php
  src/Source/Composer/ComposerSourceFetcher.php
  src/Source/File/FileSource.php
  src/Source/File/FileSourceFetcher.php
  src/Source/File/SymfonyFinder.php
  src/Source/Tree/TreeSource.php
  src/Source/Tree/TreeSourceFetcher.php
  tests/src/Source/FileSourceConstructorTest.php
  tests/src/Source/FileSourceFromArrayTest.php
Labels: lib:tree-builder, source:tree, source:file, source:composer

#79 Add nested configs import functionality
  json-schema.json
  src/ConfigLoader/CompositeConfigLoader.php
  src/ConfigLoader/ConfigLoader.php
  src/ConfigLoader/ConfigLoaderFactory.php
  src/ConfigLoader/ConfigLoaderInterface.php
  src/ConfigLoader/Import/CircularImportDetector.php
  src/ConfigLoader/Import/ImportConfig.php
  src/ConfigLoader/Import/ImportResolver.php
  src/ConfigLoader/Parser/ConfigParser.php
  src/ConfigLoader/Parser/ConfigParserPluginInterface.php
  src/ConfigLoader/Parser/ImportParserPlugin.php
  src/Document/DocumentsParserPlugin.php
  src/Modifier/Alias/ModifierAliasesParserPlugin.php
Labels: config:parser, config:loader

#88 Claude MCP integration
  .github/workflows/security.yml
  composer.json
  context-generator
  context.yaml
  src/ConfigLoader/Parser/ParserPluginRegistry.php
  src/ConfigurationProviderConfig.php
  src/ConfigurationProviderFactory.php
  src/Console/DetermineRootPath.php
  src/Console/DisplayCommand.php
  src/Console/GenerateCommand.php
  src/Console/InitCommand.php
  src/Console/MCPServerCommand.php
  src/Console/SchemaCommand.php
  src/Console/SelfUpdateCommand.php
  src/Console/VersionCommand.php
  src/Document/Compiler/DocumentCompiler.php
  src/DocumentCompilerConfig.php
  src/DocumentCompilerFactory.php
  src/GithubClientFactory.php
  src/ModifierRegistryFactory.php
  src/SourceFetcherRegistryFactory.php
  src/VariableResolverFactory.php
Labels: enhancement, console:cli

#90 Add file locking option and enhance self-update functionality
  context.yaml
  src/Console/SelfUpdateCommand.php
  src/FilesInterface.php
  src/Lib/Files.php
Labels: bug

#93 Fix typo in security.yml posi -> posix
  .github/workflows/security.yml
Labels: bug

#98 fix: Fixed bugs:
  app.php
  box.json
  composer.json
  context.yaml
  ctx
  src/ConfigLoader/ConfigLoaderFactory.php
  src/ConfigLoader/ConfigurationProvider.php
  src/ConfigLoader/Import/ImportResolver.php
  src/ConfigurationProviderFactory.php
  src/Console/MCPServerCommand.php
  src/Console/SelfUpdateCommand.php
  src/Console/VersionCommand.php
  src/Directories.php
  src/McpServer/Action/Resources/ListDocumentsResourceAction.php
  src/McpServer/Action/Resources/ListResourcesAction.php
  src/McpServer/Action/Tools/Context/ContextAction.php
  src/McpServer/Action/Tools/Context/ContextGetAction.php
  src/McpServer/Action/Tools/Context/ContextRequestAction.php
  src/McpServer/Attribute/README.md
  src/McpServer/ServerFactory.php
Labels: bug

#109 Build for windows
  .github/workflows/build-phar-release.yml
  .github/workflows/buld-bin-release.yml
  Dockerfile
  download-latest.sh
Labels: type:enhancement

#111 Enhanced Git Diff Rendering Configuration
  context.yaml
  json-schema.json
  src/Console/Renderer/SourceRenderer.php
  src/Document/DocumentsParserPlugin.php
  src/Lib/Content/ContentBuilder.php
  src/Lib/context.yaml
  src/McpServer/Action/Prompts/FilesystemOperationsAction.php
  src/McpServer/Action/Resources/ListResourcesAction.php
  src/McpServer/ServerFactory.php
  src/Source/GitDiff/CommitDiffSourceFetcher.php
  src/Source/GitDiff/Fetcher/GitSourceFactory.php
  src/Source/GitDiff/Fetcher/Source/AbstractGitSource.php
  src/Source/GitDiff/Fetcher/Source/StashGitSource.php
  src/Source/GitDiff/Git/GitClient.php
  src/Source/GitDiff/Git/GitClientInterface.php
  src/Source/GitDiff/Git/GitCommandException.php
  src/Source/GitDiff/GitDiffFinder.php
  src/Source/GitDiff/GitDiffSource.php
  src/Source/GitDiff/GitDiffSourceFetcher.php
  src/Source/GitDiff/RenderStrategy/Config/RenderConfig.php
  src/Source/GitDiff/RenderStrategy/Enum/RenderStrategyEnum.php
  src/Source/GitDiff/RenderStrategy/LLMFriendlyRenderStrategy.php
  src/Source/GitDiff/RenderStrategy/RawRenderStrategy.php
  src/Source/GitDiff/RenderStrategy/RenderStrategyFactory.php
  src/Source/GitDiff/RenderStrategy/RenderStrategyInterface.php
  src/SourceFetcherRegistryFactory.php
  tests/src/Source/GitDiff/Fetcher/Source/AbstractGitSourceTest.php
  tests/src/Source/GitDiff/Fetcher/Source/CommitGitSourceTest.php
  tests/src/Source/GitDiff/Fetcher/Source/FileAtCommitGitSourceTest.php
  tests/src/Source/GitDiff/Fetcher/Source/GitSourceTestCase.php
  tests/src/Source/GitDiff/Fetcher/Source/StagedGitSourceTest.php
  tests/src/Source/GitDiff/Fetcher/Source/StashGitSourceTest.php
  tests/src/Source/GitDiff/Fetcher/Source/TimeRangeGitSourceTest.php
  tests/src/Source/GitDiff/Fetcher/Source/UnstagedGitSourceTest.php
  tests/src/Source/GitDiff/RenderStrategy/LLMFriendlyRenderStrategyTest.php
  tests/src/Source/GitDiff/RenderStrategy/RawRenderStrategyTest.php
  tests/src/Source/GitDiff/RenderStrategy/RenderStrategyFactoryTest.php
Labels: source:git-diff
